<ion-header class="bg">
    <ion-toolbar color="secondary">
        <ion-buttons slot="start" class="icon">
          <ion-menu-button color="primary"></ion-menu-button>
        </ion-buttons>
        <ion-title>
          
        </ion-title>
      </ion-toolbar>
</ion-header>

<ion-content class="bg">
    <div >
    <img src="../../assets/gTe5Mkjnc.png" alt="logo" class="spacer">
      </div>
      <div class="div">
    <video width="100%" controls>
        <source src="../../assets/WIN_20190731_15_04_15_Pro.mp4" type="video/mp4" class="vid" >
      </video>
</div>

<div><ion-button class="send" color="clear" shape="round" routerLink="../character-chat"><img src="../../assets/Group 7.png" alt="Send"></ion-button></div>
</ion-content>
