<ion-header>
    <ion-toolbar color="secondary">
        <ion-buttons slot="start" class="icon">
          <ion-menu-button color="primary"></ion-menu-button>
        </ion-buttons>
        <ion-title>
          
        </ion-title>
      </ion-toolbar>
</ion-header>

<ion-content>
    <img src="../../assets/gTe5Mkjnc.png" alt="logo" class="logo">

    <img src="../../assets/Audio.png" alt="bdmeter" class="Audio">

    <img src="../../assets/Are you sure you will want to send this message_.png" alt="text" class="text">
<div><ion-button class="retry" color="clear" shape="round"><img src="../../assets/Group 6.png" alt="retry" height="40px" width="149px"></ion-button></div>
<div><ion-button class="send" color="clear" shape="round"><img src="../../assets/Group 7.png" alt="Send"></ion-button></div>
</ion-content>
