.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 18px;
    height: 69px;
    width: 74px;
}

.Audio {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.text {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.retry {
    display: block;
    margin-left: auto;
    margin-right: auto; 
    margin-bottom: 22px;
}

.send {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 22px;
    margin-top: 99px;
}

.vid {
    display: block;
    justify-content: center;
    height: auto;
    margin-bottom: 30px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 99px;
}
.spacer {
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 93px;
}
