.vid {
    display: block;
    justify-content: center;
    height: auto;
    margin-top: 132px;
    margin-bottom: 30px;
    margin-right: auto;
    margin-left: auto;
}
.spacer {
    margin-left: auto;
    margin-right: auto;
}

.customButton {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 56px;
    width: 153px;
}

.words {
    text-align: center;
    color: #438285;
}

.bg {
    background-color: #658C67;
}