<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start" class="icon">
      <ion-menu-button color="primary"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img src="../../assets/gTe5Mkjnc.png" alt="logo" class="logo">

  <img src="../../assets/Screenshot (20).png" alt="placeholder" class="face" width="294px"
  height="294px">

  <img src="../../assets/text.png" alt="text" class="text">

  <ion-button color="clear" class="btn" routerLink="../record" routerDirection="root">
    <img src="../../assets/Group 13 (2).png" alt="record" class="mic">
  </ion-button>
</ion-content>
