<ion-app>
  <ion-split-pane >
    <ion-menu type="overlay" color="primary">
      <ion-header>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages" side="right">
            <ion-item [routerDirection]="'root'" [routerLink]="[p.url]" side="right">
              <ion-icon color="primary" slot="start" [name]="p.icon" class="icon" side="right"></ion-icon>
              <ion-label color="primary" side="right">
                {{p.title}}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>