ion-content {
    --ion-background-color: #99D19C;

    
}

.ion-padding{
    margin-right: auto;
    margin-left: auto;
    width: 94px;
}

.spacer {
    padding-top: 32px;
    height: 104px;
    width: 94px;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 60px;
}

.welcometext {
    margin-right: auto;
    margin-left: auto;
    height: 288px;
    width: 315px;
    padding-bottom: 60px;
}

.begin {
    display: block;
    margin-right: auto;
    margin-left: auto;
    height: 56px;
    width: 196px;
    
}