<ion-header>

</ion-header>

<ion-content class="background">
  <div class="ion-padding">
    <div class="spacer">
      <img src="../../assets/Group 14.png" class="spacer">
    </div>
    <ion-button color="light" class="username" shape="round">
      <div >
        <ion-input placeholder="User Name"></ion-input>
      </div>

    </ion-button>
    <ion-button color="light" class="password" shape="round">
      <div>
        <ion-input placeholder="Username" color="dark" height="56px" width=""></ion-input>
      </div>
    </ion-button>
    <ion-button color="clear" class="signup"> Don’t have an account? Sign up </ion-button>
    <ion-button color="light" class="login" shape="round" routerLink="/welcome" routerDirectio="root"> Login</ion-button>